$primary-color: #6CE34F;
$secondary-color: #C4C4C4;
$font: 'Roboto';
$text-color:rgb(44, 41, 46);
$background-color: rgb(236, 240, 241);

/////sizes

$border-radius: 12px;
$icon-size: 30px;
$mini-icon-size: 25px;
$textInput-width: 280px;
$textInput-heidth: 50px;
$button-width: 200px;
$button-heidth: 50px;