.done {
width: 100%;
}

.tags {
    font-size: 13px;
}
.total{
    display: flex;
    flex-direction: column;
} 
.buttons {
    margin-right: 15px;
}

.btn {
    margin-top: 15px;
    margin-left: 10px;
    background-color: coral;
}