@use 'variables';
@use 'mixins' as *;
#loginPage {
}


form{
    position: absolute;
    margin: 10%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
};

input{
    border-radius: variables.$border-radius;
    height: variables.$textInput-heidth;
    width: variables.$textInput-width;
}

h1{
align-self: center;
margin-bottom: 20px;
};

.buttonLogin{
    flex-wrap: wrap;
    margin-top: 20px;
    @include button;
    
}